[paths]
source =
   src/tweetstash
   */site-packages/tweetstash

[run]
branch = True
source =
    tweetstash
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
